.search{
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.full-width {
width: 80%;
}
.new{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
}
.list {
  margin: auto;
  width: 80%;
  display: flex;
  text-align: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}
